@using Microsoft.AspNetCore.Components.Authorization
@using blazor.services
@using blazor.Components.Redirect.RedirectToGame
@inject AuthenticationStateProvider AuthStateProvider

@inherits LayoutComponentBase


<div class="main-layout">
    @Body
</div>