@using Microsoft.AspNetCore.Components.Authorization
@using blazor.services
@inject AuthenticationStateProvider AuthStateProvider

@inherits LayoutComponentBase

<div class="main-layout">
    @Body
</div>