@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="home-container">
    <Navbar />
    <div class="main">

        <AuthorizeView>
            <Authorized>
                <button @onclick="SearchGame" >Join Game</button>
            </Authorized>
        </AuthorizeView>
    </div>
</div>