@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="home-container">
    <Navbar />
    <div class="main">
        @if (@CurrentUser is not null)
        {
            <button @onclick="JoinGame" >Join Game</button>
        }
    </div>

</div>