@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using blazor.Components.Redirect.RedirectOnClaim
@using blazor.Components.Redirect.RedirectToGame
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="home-container">
    <Navbar />
    <div class="main">
        <RedirectOnClaim ClaimName="PlayerState" ClaimValue="PlayerPlaying" RedirectOnValid="/game" />
        <AuthorizeView>
            <Authorized>
                @if (!Sending)
                {
                    <button @onclick="SearchGame">Join Game</button>
                }
                else
                {
                    <div>Loading...</div>
                }
            </Authorized>
        </AuthorizeView>
    </div>
</div>
