.navbar-container {
    width: 100%;
    user-select: none;
}

.navbar-left,
.navbar-center,
.navbar-right {
    font-family: monospace;
    font-size: 1.25rem;
}

.navbar-right {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.navbar-container-l2 {
    max-width: 100%;
    height: 5rem;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}

button, .btn  {
    font-family: monospace;
    font-size: medium;
    font-weight: lighter;
    font-style: italic;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    background: azure;
    color: #262626;
    width: 150px;
}

.btn, button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

button:hover, .btn:hover {
    background-color: green;
}

.btn-container {
    display: flex;
    gap: 1rem;
}

.logo-container {
    width: 3rem;
    height: 3rem;
    color: azure;
    cursor: pointer;
    user-select: none;
}

.logo-container span{
    color: azure;
}

.logo-container svg{
    color: azure;
    height: 100%;
    width: 100%;
}

.logo-img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    color: azure;
}

.navbar-center {
    flex: 1;
}

.nav-link {
    font-size:1rem;
    font-style: italic;
    cursor: pointer;
    user-select: none;
}

.nav-link:hover {
    color: green;
}

.active-link {
    color: green;
    text-decoration-line: underline;
}
