@using Microsoft.AspNetCore.Components.Authorization
@using blazor.services

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="blazor.styles.css" />
    <script src="/js/signalr.js"></script>

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.server.js"></script>
    <script src="/js/auth.js"></script>
</body>

</html>